@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --bgColor: #242f42;
    --textHeader: #ffffff;
    --textPrimary: #4e658a;
}


body{
    font-family: "Source Code Pro", monospace;
    background-color:var(--bgColor);
    color: var(--textPrimary);
}

main{
    width: 800px;
    margin: 50px auto;
}

h1{
    color: var(--textHeader);
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info{
    color: var(--textHeader)
}

#buttons{
    text-align: right;
}

button{
    background: rgba(255, 255, 255, .2);
    border: 0;
    color: rgba(255, 255, 255, .5);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

div#game{
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

#words{
    filter: blur(5px);

}

#game:focus #words{
    filter:blur(0);
}

#focus-error{
    position: absolute;
    inset:0;
    text-align:center;
    padding-top: 35px;
}

#game:focus #focus-error{
    display:none;
}

div.word {
    display: inline-block;
    margin: 0 5px;
}

.letter.correct{
    color:#ffffff
}

.letter.incorrect{
    color:red
}